<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Asmodat.Standard.SSH.NET" version="1.0.0.1" targetFramework="net461" />
  <package id="LiteGuard" version="1.1.0" targetFramework="net461" />
  <package id="Rebex.Common" version="2.5.6930" targetFramework="net461" />
  <package id="Rebex.Networking" version="3.5.6930" targetFramework="net461" />
  <package id="Rebex.Terminal" version="1.0.6930" targetFramework="net461" />
  <package id="Telnet" version="0.8.1" targetFramework="net461" />
</packages>